@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body{
  background-color: rgb(153, 204, 255);
  font-family: 'Quicksand', sans-serif;
}
#logo{
  width:50%;
  height:auto;
  border-radius: 50%;
  border-style: dotted;
}
#result{
  position:relative;
  left:200px;
  top: 200px;
}
